:root{
    --gold: #FAC124;
    --gold-lt: #fcbe23;
    --blue: #025D86;
    --blue-dk: #004767;
    
    --black: #3a3a3a;
    --grey: #a3a3a3;
    --grey-dk: #5E737D;
    --grey-md: #6C6C6C;
    --grey-lt: #ccc;
    --white: #fff;

    --alert-red: #F56C2C;
}

body{
    color: var(--black);

    a{
        color: var(--blue);
    }
}


.text-grey{
    color: var(--grey);
}