label{
    font-weight: bold;
}

button.btn{color: white;}

.fsBody{padding: 0 20px 20px;}

form.fsForm{
 margin: 0 auto !important;   
 padding: 0 !important;
 font-size: 16px;
 line-height: 1.6;
 font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;


    div.fsSectionHeader{
        padding: 0;
        background: transparent;
        
        h2{
            font-weight: 800 !important;
        }
     }

    .fsLabel{
        font-weight: bold;
    }

    .fsRowBody input[type=radio], 
    .fsRowBody input[type=checkbox]{
        overflow: visible;
        top: 0;
    }
    .fsRowBody input[type=radio]:checked:before{
        border-color: var(--blue);
    }

    .fsRowBody input[type=checkbox]:checked:before{
        background-color: var(--gold);
    }

    .fsSubmit input.fsSubmitMultipage,
    .fsPreviousButton, 
    .fsNextButton{
        padding: 15px 30px !important;
        border-radius: 50px !important;
        background-color: var(--blue) !important;
    }

    .fsSubmit{
        margin-top: 0;
        padding: 0;
    }

    .fsProgress{
        div.fsProgressBarContainer{
            height: 40px;
            border-radius: 50px;
            overflow:hidden;
            background-color: var(--grey-lt);
        }
        div.fsProgressText{
            font-size: 16px;
            font-weight: 600;
            line-height: 1.5;
            margin-top: -32px;
            color: var(--black);
        }

        div.fsProgressBar{
            background-color: var(--gold-lt);
        }
    }

}

#introFields{
    .clickMe legend{
        margin-top: 20px;
        margin-bottom: 0;
        font-size: 100% !important;
    }

    label.btn{
        font-size: 0;
        line-height: 0;

        span{
            font-size: 16px;
            font-weight: 600;
            display: block;
            padding: 15px 20px;
        }

        input{
            height: 0; 
            width: 0;
        }

        &:not(.btn-secondary):hover{
            color: var(--white);
        }
    }

}

input{
    &.warning{
        border: 3px solid var(--alert-red) !important;
    }

    &.warning + .alert-msg{
        color: var(--alert-red);
        display: block !important;
        font-size: 75%;
    }
}
