/* ==========================================
	Responsive Styles
========================================== */
@media all and (max-width: 768px) {
  .modal {
    max-height: 600px;
    overflow: scroll;
  }
  .btn {
    display: block;
    padding: 15px;
  }
  .btn:nth-of-type(even) {
    margin: 20px 0;
  }
  form.fsForm .fsNextButton,
  form.fsForm .fsPreviousButton {
    display: block;
    width: 100%;
  }
  form.fsForm .fsNextButton .fsFull,
  form.fsForm .fsPreviousButton .fsFull {
    display: block !important;
  }
  form.fsForm .fsNextButton:before,
  form.fsForm .fsPreviousButton:before {
    display: none;
    content: '';
  }
}

@media all and (min-width: 768px) {
  section.container-fluid {
    display: flex;
    align-items: center;
  }
  #instructions,
  #login {
    padding: 50px;
  }
}
