@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/Raleway-VariableFont_wght.ttf");
}

body {
  font-size: 16px;
  line-height: 1.6;
  font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
}

h1, h2, h3, h4, h5 {
  font-weight: 800;
}

h1 {
  font-size: 220%;
  color: var(--blue-dk);
}

h2 {
  font-size: 180%;
}

h3 {
  font-size: 150%;
  font-weight: 600;
}

p {
  margin-bottom: 20px;
}

.light {
  font-weight: 400;
}

.small {
  font-size: 80%;
}

.btn {
  font-size: 100%;
  margin: 20px 0;
  border-radius: 20px;
  padding: 5px 20px;
  background: var(--blue);
  color: var(--white);
  border-color: transparent;
  cursor: pointer;
}

.btn:hover, .btn:active {
  background: var(--blue-dk);
  border-color: transparent;
}

.btn.btn-secondary {
  background: var(--gold);
  color: var(--blue-dk);
  border-color: transparent;
}

.btn.btn-secondary:hover, .btn.btn-secondary:active {
  background: var(--gold-lt);
  border-color: transparent;
}

.btn.simple {
  width: auto;
  display: inline-block;
  background: transparent;
  color: var(--blue-dk);
}

.btn.simple.underline {
  text-decoration: underline;
}

.btn.btn-lg {
  font-weight: 500;
  padding: 10px 30px;
  border-radius: 30px;
}

.btn:nth-of-type(even) {
  margin: 20px 10px;
}

#fsSection151244438 {
  display: none;
}

:root {
  --gold: #EBA900;
  --gold-lt: #fcbe23;
  --blue: #4e738a;
  --blue-dk: #415364;
  --black: #3a3a3a;
  --grey: #a3a3a3;
  --grey-dk: #434343;
  --grey-md: #6C6C6C;
  --grey-lt: #ccc;
  --white: #fff;
}

body {
  color: var(--black);
}

body a {
  color: var(--blue);
}

.text-grey {
  color: var(--grey);
}

label {
  font-weight: bold;
}

button.btn {
  color: white;
}

.fsBody {
  padding: 0 20px 20px;
}

form.fsForm {
  margin: 0 auto !important;
  padding: 0 !important;
  font-size: 16px;
  line-height: 1.6;
  font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
}

form.fsForm div.fsSectionHeader {
  padding: 0;
  background: transparent;
}

form.fsForm div.fsSectionHeader h2 {
  font-weight: 800 !important;
}

form.fsForm .fsLabel {
  font-weight: bold;
}

form.fsForm .fsRowBody input[type=radio],
form.fsForm .fsRowBody input[type=checkbox] {
  overflow: visible;
  top: 0;
}

form.fsForm .fsRowBody input[type=radio]:checked:before {
  border-color: var(--blue);
}

form.fsForm .fsRowBody input[type=checkbox]:checked:before {
  background-color: var(--gold);
}

form.fsForm .fsSubmit input.fsSubmitMultipage,
form.fsForm .fsPreviousButton,
form.fsForm .fsNextButton {
  padding: 15px 30px !important;
  border-radius: 50px !important;
  background-color: var(--blue) !important;
}

form.fsForm .fsSubmit {
  margin-top: 0;
  padding: 0;
}

form.fsForm .fsProgress div.fsProgressBarContainer {
  height: 40px;
  border-radius: 50px;
  overflow: hidden;
  background-color: var(--grey-lt);
}

form.fsForm .fsProgress div.fsProgressText {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  margin-top: -32px;
  color: var(--black);
}

form.fsForm .fsProgress div.fsProgressBar {
  background-color: var(--gold-lt);
}

#introFields .clickMe legend {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 100% !important;
}

#introFields label.btn {
  font-size: 0;
  line-height: 0;
}

#introFields label.btn span {
  font-size: 16px;
  font-weight: 600;
  display: block;
  padding: 15px 20px;
}

#introFields label.btn input {
  height: 0;
  width: 0;
}

#introFields label.btn:not(.btn-secondary):hover {
  color: var(--white);
}

body {
  background-color: #f5f5f5;
  background-image: url(../img/abstract_bg_02.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  max-width: 1200px;
  padding: 0 5%;
}

section {
  padding: 50px 0;
  height: 100%;
}

.card {
  padding: 20px;
  border-radius: 5px;
  border: none;
  background: var(--white);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
}

.card.body-card {
  padding: 40px 5%;
}

h3 {
  margin-top: 40px;
}

#login-wrapper {
  margin: 5% auto;
  padding: 0;
}

#logo {
  width: 120px;
  height: auto;
  margin-bottom: 20px;
}

#login {
  padding: 50px 50px 0;
}

#login #terms {
  margin-top: 40px;
}

#instructions {
  height: 100%;
  padding: 50px;
  color: var(--white);
  background: var(--blue-dk);
  border-radius: 0 5px 5px 0;
}

#instructions a {
  color: var(--off-white);
}

@media all and (max-width: 992px) {
  #instructions {
    padding: 50px;
  }
}
