@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/Raleway-VariableFont_wght.ttf");
}

body {
  font-size: 16px;
  font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
}

h1, h2, h3, h4, h5 {
  font-weight: 800;
  line-height: 1.5;
}

.light {
  font-weight: 400;
}

.small {
  font-size: 80%;
}

.btn {
  font-size: 120%;
  margin: 20px 0;
  border-radius: 20px;
  padding: 5px 20px;
  background: var(--blue);
  border-color: transparent;
}

.btn:hover, .btn:active {
  background: var(--blue-dk);
  border-color: transparent;
}

.btn.btn-secondary {
  background: var(--gold);
  color: var(--blue-dk);
  border-color: transparent;
}

.btn.btn-secondary:hover, .btn.btn-secondary:active {
  background: var(--gold-lt);
  border-color: transparent;
}

.btn.btn-lg {
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 30px;
}

.btn:nth-of-type(even) {
  margin: 20px 10px;
}

:root {
  --gold: #EBA900;
  --gold-lt: #fcbe23;
  --blue: #4e738a;
  --blue-dk: #415364;
  --black: #3a3a3a;
  --grey: #a3a3a3;
  --grey-dk: #434343;
  --grey-md: #6C6C6C;
  --grey-lt: #ccc;
  --white: #fff;
}

body {
  color: var(--black);
}

body a {
  color: var(--blue);
}

.text-grey {
  color: var(--grey);
}

input[type='email'] {
  border: none;
  position: relative;
  border-radius: 0;
  border-bottom: 1px solid var(--grey-lt);
}

input[type='email']:focus ~ .input-selector {
  width: 100%;
}

.input-selector {
  display: block;
  width: 0;
  height: 4px;
  transition: all ease-in-out .2s;
  background: var(--blue-dk);
  border-radius: 2px;
}

label {
  font-weight: bold;
}

body {
  background-color: #f5f5f5;
  background-image: url(../img/abstract_bg_02.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  max-width: 1200px;
  padding: 0 5%;
}

section {
  padding: 50px 0;
  height: 100%;
}

.card {
  padding: 20px;
  border-radius: 5px;
  border: none;
  background: var(--white);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
}

#login-wrapper {
  margin: 5% auto;
  padding: 0;
}

#logo {
  width: 150px;
  height: auto;
  margin-bottom: 40px;
}

#login {
  padding: 50px;
}

#instructions {
  height: 100%;
  padding: 50px;
  color: var(--white);
  background: var(--blue-dk);
}

#instructions a {
  color: var(--off-white);
}

@media all and (max-width: 992px) {
  #instructions {
    padding: 50px;
  }
}
